<div class="text-center">
    <img src="/assets/images/hfdc-bank-logo.png" alt="hfdc-bank-logo" width="160" height="160">
</div>
<div class="text-center"><a [routerLink]="['/home']"><button class="btn btn-primary" type="submit" > Home</button></a></div>
<div class="wrapper container" style="width: 28%;">
    <p class="h3">Track Application</p>
    <br>
    <form (ngSubmit)="trackApplicationForm.valid && checkApplicationStatus()" #trackApplicationForm="ngForm">
        <div class="form-group ">
            <label>Service Reference Number</label>
            <input class="form-control" type="text" name="adminId" placeholder="Your 4-digit service reference number"
                [(ngModel)]=serviceRefNo #refNo="ngModel" required pattern="^[0-9]{4}$">
            <div class="alert alert-danger"
                *ngIf="trackApplicationForm.submitted && refNo.invalid && (refNo.dirty || refNo.touched)">
                <div *ngIf="refNo.errors.required">Service reference number is required</div>
                <div *ngIf="refNo.errors.pattern">Invalid service reference number</div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Track" style="width: 100%;">
        </div>
    </form>
</div><br>
<div class="h2" style="text-align: center;" *ngIf="submitted">
    <div *ngIf="status == 'A'" class="mx-auto progress-bar progress-bar-striped progress-bar-animated bg-success"
        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 46%">
        Wohoo! Your application was approved.
    </div>
    <div *ngIf="status == 'W'" class="mx-auto progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 94%" #notApproved>Hold tight! Your application is pending for approval. You will be notified once approved.
    </div>
    <div *ngIf="status == 'R'" class="mx-auto progress-bar progress-bar-striped progress-bar-animated bg-danger"
        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 94%">
        Oh no! Your application was rejected.
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="error">{{statusMessag}}</div>
</div>