<div class="header" style="justify-content: center;">
    <a href="#">HFDC Bank</a>
    <div style="float: right;">
        <a href="#">Register for Internet Baning</a>
        <a href="#">Apply for Account</a>
        <a [routerLink]="['/admin-login']">Admin Login</a>
    </div>
</div>
<div style="margin-top: 70px;">
    <div class="banner-image">
        <img src="/assets/images/banner-image.jpg" alt="banner-image" width="840px" height="440px">
    </div>
    <div class="login">
        <app-login></app-login>
    </div>
</div>
<app-footer></app-footer>

<!--TEMPORARY BUTTONS-->
<a [routerLink]="['/home']"><button>HOME</button></a>
<a [routerLink]="['/dashboard']"><button>DASHBOARD</button></a>
<a [routerLink]="['/admin-login']"><button>ADMIN LOGIN</button></a>
<a [routerLink]="['/logout']"><button>LOGOUT</button></a>
<a [routerLink]="['/session-expired']"><button>SESSION EXPIRED</button></a>
<a [routerLink]="['/forgot-user-id']"><button>FORGOT USER ID</button></a>
<a [routerLink]="['/forgot-password']"><button>FORGOT PASSWORD</button></a>
<a [routerLink]="['/set-new-password']"><button>SET NEW PASSWORD</button></a>
