.header {
  overflow: hidden;
  background-image: linear-gradient(to right, #adb0c5, #d3dbe0);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

.header a {
  float: left;
  color: rgb(58, 56, 56);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.header {
  font-size: 25px;
}

.header a:hover {
  opacity: 60%;
}

.banner-image {
  float: left;
  margin: 28px 0;
}

.banner-image img {
  border-radius: 10px;
  margin-left: 50px;
}