<div class="header">
    <a href="#">HFDC Bank</a>
    <div style="float: right;">
        <a href="#" routerLink="/home">Home</a>
        <a href="#" routerLink="/register-ib">Register for Internet Banking</a>
        <a href="#" routerLink="/open-acc">Apply for Account</a>
        <a href="#" routerLink="/admin-login">Admin Login</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="margin-top: 5px;">
        <div class="banner-image col-9">
            <img src="/assets/images/banner-image.jpg" alt="banner-image" width="84%" height="440px">
        </div>
        <div class="login col-3">
            <app-login></app-login>
        </div>
    </div>
</div>

<app-footer></app-footer>




<!--TEMPORARY BUTTONS-->
<a [routerLink]="['/home']"><button>HOME</button></a>
<a [routerLink]="['/dashboard']"><button>DASHBOARD</button></a>
<a [routerLink]="['/admin-login']"><button>ADMIN LOGIN</button></a>
<a [routerLink]="['/logout']"><button>LOGOUT</button></a>
<a [routerLink]="['/session-expired']"><button>SESSION EXPIRED</button></a>
<a [routerLink]="['/forgot-user-id']"><button>FORGOT USER ID</button></a>
<a [routerLink]="['/forgot-password']"><button>FORGOT PASSWORD</button></a>
<a [routerLink]="['/set-new-password']"><button>SET NEW PASSWORD</button></a>
<a [routerLink]="['/track-application']"><button>TRACK APPLICATION</button></a>
<a [routerLink]="['/user-profile']"><button>USER PROFILE</button></a>  
