<div class="text-center">
    <img src="/assets/images/hfdc-bank-logo.png" alt="hfdc-bank-logo" width="160" height="160">
</div>
<div class="text-center"><a [routerLink]="['/home']"><button class="btn btn-primary" type="submit">Home</button></a>
</div>
<div class="wrapper container" style="width: 28%;">
    <h4>Trouble Logging In - Forgot Login Password?</h4>
    <br>
    <p>Please fill in your credentials to set the new password.</p>
    <br>
    <form #f="ngForm" (ngSubmit)="f.form.valid && sendOtp()">
        <div class="form-group">
            <label>Enter User ID</label>
            <input type="text" #userId="ngModel" [class.is-invalid]="f.submitted && userId.invalid" class="form-control"
                name="userId" [(ngModel)]="model.userId" required>
            <div *ngIf="f.submitted && userId.invalid" class="invalid-feedback">
                <div *ngIf="userId.errors.required">User Id is required</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100%;">Proceed</button>
    </form>
    <div class="alert alert-danger" *ngIf="userDoesntExist">User doesn't exist</div>
    <div class="alert alert-danger" *ngIf="error">{{message}}</div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-scale-multiple">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>
