<div style="font-size: 18px;">
    <div class="text-center">
        <img src="/assets/images/hfdc-bank-logo.png" alt="hfdc-bank-logo" width="100" height="100">
    </div>
    <div class="header">
        <p href="#">HFDC Bank</p>
        <ul style="float: right;">
            <li [routerLink]="['/session-expired']">User Profile</li>
            <li>Change User ID</li>
            <li>Change Password</li>
            <li [routerLink]="['/logout']">Logout</li>
        </ul>
    </div>
    <div class="h5" style=" position: absolute; padding-left: 300px;">Welcome, {{name | uppercase}}</div>
    <div>
        <ul class="sidebar">
            <li [routerLink]="['/account-summary']">Account Summary</li>
            <li [routerLink]="['/account-statement']">Account Statement</li>
            <li>Fund Transfer</li>
            <li>Add Beneficiary</li>
            <li>Account Statement</li>
        </ul>
    </div>
</div>
<!-- <app-footer></app-footer> -->