<app-dashboard></app-dashboard>
<div class="wrapper container ben">
    <table class="table table-striped table-active table-responsive-md">
      <thead style="background-color: #adb0c5;">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Account Number</th>
          <th scope="col">Nickname</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let beneficiary of beneficiaries; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{beneficiary.beneficiaryName}}</td>
          <td>{{beneficiary.accountNo}}</td>
          <td>{{beneficiary.beneficiaryNickName}}</td>
        </tr>
      </tbody>
    </table>
  </div>