<app-dashboard></app-dashboard>
<div class="wrapper container">
    <div class="card-deck">
        <div class="card border-dark mb-3" style="max-width: 18rem;" *ngFor="let account of accounts">
            <div class="card-header">Account</div>
            <div class="card-body text-dark">
                <h5 class="card-title">{{account.accountNumber}}</h5>
                <p class="card-text">Balance: {{account.balance | currency : 'INR'}}</p>
                <p class="card-text">Type: {{account.accountType | uppercase}}</p>
            </div>
        </div>
    </div>
</div>