<div class="text-center">
    <img src="/assets/images/hfdc-bank-logo.png" alt="hfdc-bank-logo" width="160" height="160">
</div>
<div class="text-center"><a [routerLink]="['/home']"><button class="btn btn-primary" type="submit">Home</button></a></div>
<div class="wrapper container" style="width: 28%;">
    <p>Enter OTP (One Time Password) sent to your Email ID</p>
    <br>
    <form (ngSubmit)="f.valid && verifyOtp()" #f="ngForm">
        <div class="form-group">
            <input type="text" class="form-control" name="otp" #otp="ngModel" [(ngModel)]="forgotPassword.otp" required>
            <div class="alert alert-danger" *ngIf="f.submitted && otp.invalid && (otp.dirty || otp.touched)">
                <div *ngIf="otp.errors.required">OTP is required</div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
        </div>
    </form>
    <div class="alert alert-danger" *ngIf="flag===true && otpIsCorrect===false">OTP you entered is incorrect</div>
    <div class="alert alert-danger" *ngIf="error">{{message}}</div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-scale-multiple">
    <p style="color: white">Please Wait...</p>
</ngx-spinner>