<div class="text-center">
    <img src="/assets/images/hfdc-bank-logo.png" alt="hfdc-bank-logo" width="160" height="160">
</div>
<div class="wrapper container" style="width: 28%;">

    <p>Enter OTP (One Time Password) sent to your Email ID</p>
    <br>
        <form #f="ngForm">
            <div class="form-group">
                <input type="text"  class="form-control" name="otp">
            </div>
            
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit" style="margin: auto;">
            </div>
        </form>
</div>       
