<app-dashboard></app-dashboard>
<div class="wrapper container transaction">
  <form class="form-inline" name="form" (ngSubmit)="f.form.valid && accountStatement()" #f="ngForm">
    <div class="form-group">
      <label for="from-date">From:</label>
      <input type="date" class="form-control" name="fromDate" [(ngModel)]="statementDuration.fromDate" #fromDate="ngModel">
    </div>
    <div class="form-group">
      <label for="from-date">To:</label>
      <input type="date" class="form-control" name="toDate" [(ngModel)]="statementDuration.toDate" #toDate="ngModel">
    </div>
    <button type="submit" class="btn btn-default"  >Submit</button>
  </form>
  <input type="button" value="Download PDF" (click)="captureScreen()"/>
  <div *ngIf="searched">
  <table id="contentToConvert" class="table table-striped table-active table-responsive-md">
    <thead style="background-color: #adb0c5;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Account</th>
        <th scope="col">Credit/Debit</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{transaction.transactionId}}</td>
        <td>{{transaction.transactionType}}</td>
        <td>{{transaction.accountNumber}}</td>
        <td>{{transaction.check}}</td>
        <td>{{transaction.amount | currency : 'INR'}}</td>
        <td>{{transaction.dateTime}}</td>
        <td>{{transaction.remark}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
