<app-dashboard></app-dashboard>
<div class="wrapper container transaction">
  <!-- <ul class="list-group transaction" *ngFor="let transaction of transactions">
    <li class="list-group-item list-group-item-dark">{{transaction.transactionId}} {{transaction.txType | uppercase}} {{transaction.amount | currency : 'INR'}}
      {{transaction.date}} {{transaction.remarks}}</li>
  </ul> -->
  <form (ngSubmit)="account-statementForm.valid && showDetails()" #accountStatementForm="ngForm"></form>
  <div class="btn-group dropright" style="padding-bottom: 2%;">
    <button type="button" class="btn btn-secondary">
      Show last
    </button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <div class="dropdown-menu">
      <button class="dropdown-item" type="button"> transactions</button>
      <button class="dropdown-item" type="button"> Monthtransactions</button>
      
    </div>
  </div>
  <table class="table table-striped table-active table-responsive-md">
    <thead style="background-color: #adb0c5;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Balance</th>
        <th scope="col">Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{transaction.transactionId}}</td>
        <td>{{transaction.txType | uppercase}}</td>
        <td>{{transaction.amount | currency : 'INR'}}</td>
        <td>{{transaction.date}}</td>
        <td>{{transaction.balance | currency: 'INR'}}</td>
        <td>{{transaction.remarks}}</td>
      </tr>
    </tbody>
  </table>
</div>