<app-dashboard></app-dashboard>
<div class="wrapper container">
    <div class="card border-dark w-100">
            <div class="card-header">Set New Password</div>
            <div class="card-body">
                <form>
                    <div class="form-group ">
                        <label>Enter old password</label>
                        <input class="form-control" type="password" name="oldPassword">
                    </div>
                    <div class="form-group ">
                        <label>Enter new password</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input name="confirmPassword" type="password" class="form-control">
            
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit" style="align-content: center;">
                    </div>
                </form>
            </div>
    </div>
</div>
