
.wrapper {
    width: 600px;
    background-image: linear-gradient(to bottom right, #adb0c5, #d3dbe0, #adb0c5);
    border: .2rem solid #428BCA;
    margin-left: 450px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 14px;
}

.modal-content{
    background-image: linear-gradient(to bottom right, #adb0c5, #d3dbe0, #adb0c5);
      border: .2rem solid #428BCA;
  }
  