<div class="h2">{{name}}</div>
<div class="wrapper scrollme">
    <table class="table table-striped table-bordered table-active table-responsive-md  text-nowrap">
        <thead style="background-color: #adb0c5;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Service Reference No</th>
            <th scope="col">Title</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Father Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Email ID</th>
            <th scope="col">Aadhaar Card Number</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Residential Address</th>
            <th scope="col">Permanent Address</th>
            <th scope="col">Occupation</th>
            <th scope="col">Source of Income</th>
            <th scope="col">Gross Annual Income</th>
            <th scope="col">Internet Banking Choice</th>
            <th scope="col">Accept </th>
            <th scope="col">Reject</th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr *ngFor="let customer of customers; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{customer.serviceRefNo}}</td>
            <td>{{customer.title}}</td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.middleName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.fatherName}}</td>
            <td>{{customer.mobileNo}}</td>
            <td>{{customer.emailId}}</td>
            <td>{{customer.aadhaarNo}}</td>
            <td>{{customer.dateOfBirth}}</td>
            <td id="resAdd">Residential address</td>
            <td id="perAdd">Permannet Address</td>
            <td>{{customer.occupationType}}</td>
            <td>{{customer.sourceOfIncome}}</td>
            <td>{{customer.grossAnnualIncome}}</td>
            <td>{{customer.netBankingRequirement}}</td>
            <td><button class="btn btn-success" (click)="accept(customer.serviceRefNo)">Accept</button></td>
            <td><button class="btn btn-danger" (click)="reject(customer.serviceRefNo)">Reject</button> </td>
          </tr>
        </tbody> -->
      </table>
</div>
