<div class="header">
    <a href="#">HFDC Bank</a>
    <div style="float: right;">
        <a href="#" routerLink="/home">Home</a>
        <a href="#" routerLink="/register-ib">Register for Internet Banking</a>
        <a href="#" routerLink="/open-acc">Apply for Account</a>
        <a href="#" routerLink="/track-application">Track</a>
        <a href="#" routerLink="/admin-login">Admin Login</a>
    </div>
</div>

<div class="wrapper container" style="width: 46%;">
    <div class="h2">Terms & Conditions</div>
    <br>
    <ol class="h6">
        <li>I agree to abide by the Bank's Terms and Conditions and rules in force and the changes thereto in Terms and Conditions from time to time relating to my account as communicated and made available on the Bank's website.</li>
        <li>I agree that the opening and maintenance of the account is subject to rules and regulations introduced or amended from time to time by the Reserve Bank of India.</li>
        <li>I agree that the bank before opening any deposit account, will carry out a due diligence as required under Know Your Customer guidelines of the bank. I would be required to submit necessary documents or proofs, such as identity , address, photograph and any such information to meet with KYC, AML or other statutory/regulatory requirements. </li>
    </ol>
</div>
<br>
<app-footer></app-footer>