<div class="header">
    <a href="#">HFDC Bank</a>
    <div style="float: right;">
        <a href="#" routerLink="/home">Home</a>
        <a href="#" routerLink="/register-ib">Register for Internet Banking</a>
        <a href="#" routerLink="/open-acc">Apply for Account</a>
        <a href="#" routerLink="/track-application">Track</a>
        <a href="#" routerLink="/admin-login">Admin Login</a>
    </div>
</div>

<div class="wrapper container" style="width: 46%;">
    <div class="h2">Contact Us</div>
    <br>
    <div class="h6">Get in touch with us for your Banking needs on our easy to remember numbers. Now you can access your Accounts, Credit Cards, Loans, Demat Account and Investment Services by calling on a Single Number.</div>
    <div class="h6">Please keep your Card number and associated PIN or User Identification Number (User ID) ready to access your account.</div>
    <div class="h6">For Ahmedabad / Bangalore / Chennai / Delhi & NCR / Hyderabad / Kolkata / Mumbai / Pune dial 11101111 
        For Chandigarh / Cochin / Indore / Jaipur / Lucknow dial 1110111</div>
</div>

<app-footer></app-footer>