<app-dashboard></app-dashboard>
<div class="wrapper container">
    <div class="card border-dark w-100">
            <div class="card-header">User Profile</div>
            <div class="card-body">
                <p class="card-text">Name:{{user.title}} {{user.firstName}} {{user.middleName}} {{user.lastName}}</p>
                <p class="card-text">Father's Name:{{user.fatherName}}</p>
                <p class="card-text">Mobile Number:{{user.mobileNo}}</p>
                <p class="card-text">Email Id:{{user.emailId}}</p>
                <p class="card-text">Aadhar Card Number:{{user.aadhaarNo}}</p>
                <p class="card-text">Date Of Birth:{{user.dateOfBirth}}</p>
                <p class="card-text">Residential Address:{{user.resAddress}}</p>
                <p class="card-text">Permanent Address:{{user.perAddress}}</p>
            </div>
    </div>
</div>
