<!-- <div class="page-header h1" style="text-align: center; font-family: 'Raleway', sans-serif; font-size: 50px;">
    <p>HFDC Bank</p>
</div> -->
<div class="text-center">
    <img src="/assets/images/hfdc-bank-logo.png" alt="hfdc-bank-logo" width="160" height="160">
</div>
<div class="wrapper container" style="width: 46%;">
    <div class="h2">You have successfully logged out</div>
    <br>
    <div class="h5">Thank you for banking with us.</div>
    <br>
    <div style="margin-bottom: 3%;">
        <a [routerLink]="['/home']"><button class="btn btn-primary" type="submit">Back to Home</button></a>
    </div>
</div>