<!-- <app-login></app-login>
<app-admin-login></app-admin-login> -->
<a [routerLink]="['/login']"><button>LOGIN</button></a>
<a [routerLink]="['/admin-login']"><button>ADMIN LOGIN</button></a>
<a [routerLink]="['/logout']"><button>LOGOUT</button></a>
<a [routerLink]="['/session-expired']"><button>SESSION EXPIRED</button></a>
<a [routerLink]="['/forgot-user-id']"><button>FORGOT USER ID</button></a>
<a [routerLink]="['/forgot-password']"><button>FORGOT PASSWORD</button></a>
<a [routerLink]="['/set-new-password']"><button>SET NEW PASSWORD</button></a>
<router-outlet></router-outlet>