<div class="header">
    <a href="#">HFDC Bank</a>
    <div style="float: right;">
        <a href="#" routerLink="/home">Home</a>
        <a href="#" routerLink="/register-ib">Register for Internet Banking</a>
        <a href="#" routerLink="/open-acc">Apply for Account</a>
        <a href="#" routerLink="/track-application">Track</a>
        <a href="#" routerLink="/admin-login">Admin Login</a>
    </div>
</div>

<div class="wrapper container" style="width: 46%;">
    <div class="h2">About Us</div>
    <br>
    <div class="h6">HFDC Bank is one of India’s leading private banks and was among the first to receive approval from
        the Reserve Bank of India (RBI) to set up a private sector bank in 1994.</div>
    <div class="h6">Today, HFDC Bank has a banking network
        of 5,326 branches and 14,996 ATMs spread across 2,825 cities and towns.</div>
</div>

<app-footer></app-footer>