<div class="wrapper container">
    <p class="h3">Login</p>
    <br>
    <p>Please fill in your credentials to login.</p>
    <div class="alert alert-danger" *ngIf="error">{{message}}</div>
    <form (ngSubmit)="loginForm.valid && loginCheck()" #loginForm="ngForm">
        <div class="form-group">
            <label for="userId">User ID</label>
            <input class="form-control" type="text" name="id" placeholder="Your 6-digit user id"
                [(ngModel)]="userLogin.userId" #id="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && id.invalid }" required pattern="^[0-9]{6}$">
            <div class="invalid-feedback" *ngIf="loginForm.submitted && id.invalid && (id.dirty || id.touched)">
                <div *ngIf="id.errors.required">User ID is required</div>
                <div *ngIf="id.errors.pattern">User ID must be of 6 digits</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="pwd" placeholder="Your password" [(ngModel)]="userLogin.password"
                #pwd="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && pwd.invalid }" required>
            <div class="invalid-feedback" *ngIf="loginForm.submitted && pwd.invalid && (pwd.dirty || pwd.touched)">
                <div *ngIf="pwd.errors.required">Password is required</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100%;">Login</button>
    </form>
    <div class="forgot-options">
        <p>Forgot User ID? <a href="#" routerLink="/forgot-user-id">Click here</a>.</p>
        <p>Forgot Password? <a href="#" routerLink="/forgot-password">Click here</a>.</p>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-scale-multiple">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 