<div class="header">
    <a href="#">HFDC Bank</a>
    <div style="float: right;">
        <a href="#" routerLink="/home">Home</a>
        <a href="#" routerLink="/register-ib">Register for Internet Banking</a>
        <a href="#" routerLink="/open-acc">Apply for Account</a>
        <a href="#" routerLink="/admin-login">Admin Login</a>
    </div>
</div>
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Status</h4>
        </div>
        <div class="modal-body">
          <p>{{statusMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

<div class="wrapper container center">
    <p class="h3">Register for Internet Banking</p>
    <div class="alert alert-danger" *ngIf="error">{{message}}</div>
    <form class="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" [appMustMatch]="['userPassword', 'cuserPassword' ,'txPassword', 'ctxPassword']" #f="ngForm">
        <div class="form-group">
            <label> User ID</label>
            <input input type="number" class="form-control" name="userId"
           [(ngModel)]="model.userId"
            #userId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userId.invalid }"
            required placeholder="Your User Id" minlength="7" maxlength="7">
            <div *ngIf="f.submitted && userId.invalid" class="invalid-feedback">
                <div *ngIf="userId.errors.required">Account Number is required</div>
                <div *ngIf="userId.errors.minlength || userId.errors.maxlength">Enter Valid Account Number</div>
            </div>
        </div>
        <div class="form-group">
            <label> Set Login Password </label>
            <input class="form-control" type="password" name="userPassword" 
            placeholder="Enter Password" [(ngModel)]="model.userPassword" #userPassword="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && userPassword.invalid }" required minlength="8"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,})">
            <p class="font-italic"><small>*Atleast 8 characters long with UpperCase ,LowerCase ,digit ,special characters</small></p>
            <div *ngIf="f.submitted && userPassword.invalid" class="invalid-feedback">
                <div *ngIf="userPassword.errors.required">Password is required</div>
                <div *ngIf="userPassword.errors.minlength">Password must be at least 8 characters</div>
                <div *ngIf="userPassword.errors.pattern">Password pattern is not valid</div>
            </div>
        </div>
        <div class="form-group">
            <label> Confirm Login Password</label>
            <input class="form-control" type="password" name="cuserPassword" 
            placeholder="Enter Password" [(ngModel)]="model.cuserPassword"  #cuserPassword="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && cuserPassword.invalid }" required>
            <div *ngIf="f.submitted && cuserPassword.invalid" class="invalid-feedback">
                <div *ngIf="cuserPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="cuserPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
        <div class="form-group">
            <label> Set Transaction Password</label>
            <input class="form-control" type="password" name="txPassword" 
            placeholder="Enter Password" [(ngModel)]="model.transactionPassword" #txPassword="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && txPassword.invalid }" required minlength="4">
            <div *ngIf="f.submitted && txPassword.invalid" class="invalid-feedback">
                <div *ngIf="txPassword.errors.required">Password is required</div>
                <div *ngIf="txPassword.errors.minlength">Password must be at least 4 characters</div>
            </div>
        </div>
        <div class="form-group">
            <label> Confirm Transaction Password</label>
            <input class="form-control" type="password" name="ctxPassword" 
            placeholder="Enter Password" [(ngModel)]="model.ctxPassword"  #ctxPassword="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && ctxPassword.invalid }" required>
            <div *ngIf="f.submitted && ctxPassword.invalid" class="invalid-feedback">
                <div *ngIf="ctxPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="ctxPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4"> Enter OTP<span style="color:red">*</span></label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="otp" placeholder="Enter  OTP" 
                [(ngModel)]="model.otp" #otp="ngModel" required minlength="4">
             <div *ngIf="f.submitted && otp.invalid" class="invalid-feedback">  
               <div *ngIf="otp.errors.minlength">OTP should of 4 digits</div> 
              </div>
              <button class="btn btn-link" (click)="onClick($event)">Generate otp</button>
              
            </div>
          </div>

        <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
    </form>
    <div class="forgot-options">
        <p>Already have an account? <a href="#" routerLink="/home">Click here</a> to Login</p>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-scale-multiple">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 